AQUI VAN LAS SOLICITUDES DE VALIDACIÓN



<h1>Has pedido estos juegos</h1>
{{#each rentsReducer.rented  as |rent|}}
    {{rent.game}}
{{/each}}
<h1>Te han pedido estos juegos</h1>
{{#each rentsReducer.requested  as |rent|}}
    {{rent.game}}
{{/each}}

