<nav class="navbar navbar-light" style="background-color: white;">
  <div class="container">
    <a class="navbar-brand" href="/">
     <img src="/images/ALQUIGAME.png" alt="Bootstrap" width="90" height="80"></a>

     <button class="btn my-btn" style="color:rgb(5, 185, 185); border-color: blue" type="submit">Registrate o inicia sesión</button>

    {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse black" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a> 
        </li>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register">Register</a>
    </div> --}}
  </div>
</nav>