<div class=" profile-username d-flex flex-column flex-shrink-0 mt-4 mx-4 px-5" style="width: 280px;">
    <a href="#" class="d-flex align-items-center text-primary text-decoration-none " aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong style="color:rgb(10, 207, 207)">{{currentUser.username}}</strong>
    </a>
    <ul class="d-flex"><a class="dropdown-item mt-2 bi bi-joystick" href="#">  Your Games</a></ul>
    <ul class="d-flex"><a class="dropdown-item mt-2 bi bi-heart-fill" href="#"> Favorites</a></ul>
    <ul class="d-flex"><a class="dropdown-item mt-2 bi bi-plus-circle" href="#"> New Game</a></ul>
    <ul class="d-flex"><a class="dropdown-item mt-2 bi bi-pencil-square" href="#"> Edit profile</a></ul>
    <ul class="d-flex"><a class="dropdown-item mt-2 bi bi-box-arrow-right" href="#"> Logout</a></ul>
</div>