
<div class="profile-bar">
<div class=" profile-username d-flex-start flex-column flex-shrink-0 mt-3" style="width: 156px; height: 100%">
    <a href="/profile/${id}/edit-profile" class="d-flex align-items-center text-primary text-decoration-none pb-3" aria-expanded="false">
        <img src="{{currentUser.image}}" width="40" height="40" class="rounded-circle me-2">
        <strong style="color:rgb(10, 207, 207)">{{currentUser.username}}</strong>
    </a>
    <ul>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-bag-check" href="/profile"> Your Games</a></li>
        <li class="d-flex pending-li"><a class="dropdown-item mt-2 bi bi-arrow-clockwise" href="/profile/pending-validations">Validations</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-collection" href="/rent/historic"> Historic</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-heart-pulse" href="/rent/favorites"> Favorites</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-pencil-square" href="/profile/${id}/edit-profile"> Edit profile</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-box-arrow-right" href="/logout"> Logout</a></li>
    </ul>

</div>
</div>