
<div class="profile-bar">
<div class=" profile-username d-flex-start flex-column flex-shrink-0 mt-3" style="width: 156px; height: 100%">
    <a href="#" class="d-flex align-items-center text-primary text-decoration-none pb-3" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong style="color:rgb(10, 207, 207)">{{currentUser.username}}</strong>
    </a>
    <ul>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-bag-check" href="/rent-a-game"> Rent a game</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-heart-fill" href="#"> Favorites</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-trophy" href="#"> Rating</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-plus-circle" href="new-game"> New Game</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-pencil-square" href="#"> Edit profile</a></li>
        <li class="d-flex"><a class="dropdown-item mt-2 bi bi-box-arrow-right" href="/logout"> Logout</a></li>
    </ul>

</div>
</div>