html,
body {
  height: 100%;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

/* INDEX */
.my-btn:hover {
  background-color: rgb(10, 207, 207);
}

.link-login {
  text-decoration: none;
  color: rgb(10, 207, 207);
}

.link-login:hover {
  color: rgb(28, 28, 28) !important;
}

.navbar {
  padding: 0 !important;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(10, 207, 207);
  height: 25px;
  color: white;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.container {
  display: flex;
}

/*.login,
.signup {
    background-image: url("/images/");
    background-position: center;
    background-size: cover; 
    background-repeat:no-repeat ;
    max-width: 100%;
    max-height: 100%;
    height: calc(100vh - 100px);
    padding: 20px 0;
}*/

.login .row,
.signup .row {
  --bs-gutter-x: 0 !important;
}

/* PROFILE */

.profile-bar {
  margin-left: 15px;
  height: 100vh;
}

.profile-username {
  justify-content: center;
}

li {
  text-decoration: none;
}

.card-own-games,
.card-other-games,
 .mapbox {
  box-shadow: 0px 0px 22px -6px rgba(10, 207, 207, 0.25);
  border-radius: 10%;
}

/* Home */

.home-title {
  text-align: center;
}

/* Create games*/

.create-game {
  border: 1px solid red;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}
.create-game-intro {
  text-align: center;
}

.btn-create {
  align-items: center;
}


.hidden {
  display: none;
}

.card-text-desc {
  height: 100px;
  overflow-y: auto;
}