html,
body {
  height: 100%;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;

  --footer-height: 25px;
}

/* INDEX */

.link-login {
  text-decoration: none;
  color: rgb(10, 207, 207);
}

.link-login:hover {
  color: rgb(28, 28, 28) !important;
  
}

.navbar {
  padding: 0 10px !important;
  width: 100%;
}

#footer {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(10, 207, 207);
  height: var(--footer-height);
  color: white;
}

#page-container {
  position: relative;
  min-height: calc(100vh - var(--footer-height));
}

#content-wrap {
  padding-bottom: 2.5rem;
  min-height: calc(100vh - var(--footer-height));
}

.container {
  display: flex;
  margin: 0 !important;
  width: 100%;
}

#searchbar {
text-align: center;
width: 60%;
display: flex;
}

#inputsearch{
  width: 100%;
}

.login .row,
.signup .row,
.edit .row {
  --bs-gutter-x: 0 !important;
}


/* PROFILE */

.profile-bar {
  margin-left: 15px;
  height: 300px;
  width: 200px;
}

.profile-username {
  justify-content: center;
}

li {
  text-decoration: none;
}

.card-own-games,
.card-other-games,
 .mapbox {
  box-shadow: 0px 0px 22px -6px rgba(10, 207, 207, 0.25);
  border-radius: 10%;

}

.card-own-games,
.card-other-games {
  margin-left: 20px;
}

/* Home */

.home-title {
  text-align:center;
}

/* Create games*/

.create-game {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 22px -6px rgba(5, 132, 171, 0.25);
  margin-top: 10px;
  border-radius: 10%;
}
.create-game-intro {
  text-align: center;
}

.btn-create {
  align-items: center;
}


.hidden {
  display: none;
}

.card-text-desc {
  margin-top: 20px;
  height: 110px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.pending-game {
  background-color:rgb(232, 232, 81);
}

.rented-game {
  background-color:rgb(17, 218, 47);
}

.btn-historic {
  text-decoration: none;
  color: rgb(10, 207, 207);
}

.pending-li{
  width: fit-content
}

.card-name {
  height: 70px;
  text-align: center;
}

.mapbox-align{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-search {
  width: 300px;
  height: 35px;

}

.spaceinv-btn {
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin-bottom: 5px;
  
  
}

.btn-carousel{
 background-color: rgba(187, 189, 189, 0.17) !important;
}

.carousel-active {
  background-color: yellow !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

.edit-profile {
  width: 500px;
}

.request {
  border: 1px solid rgb(10, 207, 207);
  
}