<div class="row">
    <div class="col-4 mt-2">

        <img src="/images/continuous-one-line-drawing-gaming-joystick_253256-75.jpg"
            style="float: left; height: 300px; width: 400px">

    </div>
    <div class="home-title col-4 mt-5">
        <div class="d-flex flex-column">
        <h2>Welcome to AlquiGame!</h2>
        <p>Search your favorite game and rent it in a few simple steps</p>
        </div>
        <form style="text-align: center;">
            <input type="text" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
        <p>What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
            over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class="col-4 mt-5">
        <img src="/images/dados.png" class="px-3 mt-2" style="float: right; height: 200px; width: 300px">

    </div>


</div>