<div class="row">
    <div class="col-4 mt-2">

        <img src="/images/continuous-one-line-drawing-gaming-joystick_253256-75.jpg"
            style="float: left; height: 300px; width: 400px">

    </div>
    <div class="home-title col-4 mt-5">
        <div class="d-flex flex-column">
            <h2 class="mb-4"style="color:rgb(10, 207, 207)">Welcome to AlquiGame!</h2>
            <h4>Rent your games near your home and save money <br> in a few steps...</h4>
            <p>Almost without moving from your sofa</p>
        </div>
        
    <form class="m-3" style="text-align: center;">
	    <input type="text" placeholder="Search new games..." />
	    <button type="submit">Go!</button>
     </form>
     
        {{>mapbox}}
    </div>
    <div class="col-4 mt-5">
        <img src="/images/dados.png" class="px-3 mt-2" style="float: right; height: 200px; width: 300px">

    </div>
</div>